.result-container {
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid rgb(142, 169, 219) ;
    box-sizing: border-box;
    background-color: #a8dadc;
    background: linear-gradient(90deg, rgba(107,203,230,1) 0%, rgba(192,244,255,1) 100%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.result {
    height: 30px;
    width: auto;
    display: block;
    font-size: larger;
    margin: 5px;
    border-radius: 5px;
    align-self: flex-end;
    padding: 1px;
    box-sizing: border-box;
}

.sidenotes {
    display: flex;
    justify-content: space-between;
    margin: 1px;
    font-size: x-small;
    color: rgb(78, 78, 78);
}

.sidenotes p {
    display: block;
    margin: 0;
}