.body {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calculator {
  width: 350px;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3%;
  background-color: #5c374c;
  border: 3px outset #985277;
}

.container {
  margin: auto;
  display: flex;
}

.container div {
  display: inline;
}

.flex-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

button {
  color: #000;
  background-color: #ce6a85;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  border: 3px outset #985277;
  box-sizing: border-box;
  margin: 1px;
  flex: 1;
}

button:hover {
background-color: #985277;
color: white
}

button:nth-child(10) {
  width: 100px;
  border-radius: 10px;
}

.equality {
  width: 150px;
  border-radius: 10px;
}

@media screen and (min-width: 550px) {
  .calculator {
    transform: scale(150%);
  }
}